body
    background: $bg-color-primary

#app
    height: 100dvh
    display: flex
    flex-direction: column

*
    margin: 0
    padding: 0
    color: $text-color-primary
    font-family: $font-primary

h1, h2, h3, h4, h5, h6, strong
    font-weight: 500

p
    line-height: 2
    color: $text-color-secondary

a
    color: $color-primary-light
    text-decoration: none
    font-weight: 500

ul, ol
    list-style-position: inside

.wrapper
    padding-inline: 2rem
    width: 100%
    box-sizing: border-box

/* classes for buttons (jonathan) */
.button 
  padding-top: 0.85em
  padding-bottom: 0.85em
  padding-right: 2em
  padding-left: 2em
  font-weight: bold
  border: 1px solid transparent
  border-radius: 1rem
  cursor: pointer

.primary-button 
    background-color: $color-primary

.primary-button:hover
    background-color: transparent
    border: 1px solid $color-primary

.secondary-button
    background-color: transparent
    border: 1px solid $color-primary

.secondary-button:hover
    background-color: $color-primary
